@model IEnumerable<Course>
@{
    ViewData["Title"] = "Courses";
}


<h1>All Courses</h1>

<a class="btn btn-info" asp-action="Add"> Add Course</a>
<br />
<br />
<form>
    <label for="search">Search</label>
    <input type="text" id="search" name="name" class="form-control" />
    <a href="#" class="btn btn-info" id="searchBtn">Search</a>
</form>

<table class="table table-bordered table-hover ">
    <tr>
        <th>
            Id
        </th>
        <th>
            Name
        </th>
        <th>
            Degree
        </th>
        <th>
            Min Degree
        </th>
        <th>
            Hours
        </th>
        <th>
            Depratment ID
        </th>
        <th>
            Details
        </th>
        <th>
            Edit
        </th>
        <th>
            Delete
        </th>
    </tr>
    <tbody>
        @foreach (Course crs in Model)
        {
            <tr>
                <td>@crs.Id</td>
                <td>@crs.Name</td>
                <td>@crs.Degree</td>
                <td>@crs.MinDegree</td>
                <td>@crs.Hours</td>
                <td>@crs.dept_id</td>
                <td> <a asp-action="Details" asp-route-id="@crs.Id" class="btn btn-info">Details</a></td>
                <td> <a asp-action="Edit" asp-route-id="@crs.Id" class="btn btn-dark">Edit</a></td>
                <td>
                    <a asp-action="Delete" asp-route-id="@crs.Id" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this item?');">Delete</a>
                </td>
            </tr>
        }

    </tbody>
</table>


<script>
    document.getElementById("searchBtn").addEventListener("click", function (e) {
        // Prevent the default anchor behavior
        e.preventDefault();

        // Get the input value
        var name = document.getElementById("search").value;

        // If name is not empty, update the URL with the value
        if (name) {
            // Dynamically set the href with the route and parameter
            this.href = '@Url.Action("SearchByName", "Instructor")?name=' + encodeURIComponent(name);
            // Redirect to the updated href
            window.location.href = this.href;
        } else {
            this.href = '@Url.Action("Index", "Instructor")';
            window.location.href = this.href;
        }
    });
</script>